name: Build an release

on:
  push:
    branches: main
    tags:
      - v*

jobs:
  buildRelease:
    name: Build an release
    runs-on: ubuntu-latest
    environment: Release
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v5
      - name: Setup JAVA 17
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Cache Gradle and wrapper
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.SIGNING_KEY_STORE_BASE64 }}
        run: |
          echo $ENCODED_STRING | base64 --decode > app/keystore.jks
      - name: Build Release apk
        env:
          SIGNING_KEY_STORE_PATH: app/keystore.jks
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: ./gradlew assembleRelease

      - name: Create Github Pre Release Release
        if: ${{ endsWith(github.ref_name, 'beta') }}
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          prerelease: true
          files: |
            app/build/outputs/apk/release/app-release.apk
      - name: Create Github Release Release
        if: ${{ !endsWith(github.ref_name, 'beta') }}
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          prerelease: false
          files: |
            app/build/outputs/apk/release/app-release.apk